html, body{
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: url(Images/BackGround.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#main-container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  flex: 1;
  background-color: rgba(0, 0, 0, 0.5);
}
.Top{
  padding-top: 5rem;
}
.container{
  padding-top: 1rem;
  padding-bottom: 1rem;
}
p{
  font-size: 1.5rem;
  font-style: italic;
  font-family: bold;
}
.Section{
  padding-top: 5rem;
  width: 100%;
}
h1{
  border:  0.3125rem double rgb(18, 23, 65);
  background-color: rgba(0, 0, 0, 0.5); 
}